Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/Practica4MAP.csprojAssemblyRefer        ence.cache
Practica4MAP/.vs/Practica4MAP/v16/.suo
Practica4MAP/.vs/Practica4MAP/DesignTimeBuild/
Practica4MAP/Practica4MAP/bin/
Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/Practica4MAP.csproj.CoreCompileInputs.cache
Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/Practica4MAP.csproj.FileListAbsolute.txt
Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/Practica4MAP.dll
Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/Practica4MAP.genruntimeconfig.cache
Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/Practica4MAP.pdb
Practica4MAP/Practica4MAP/obj/Debug/netcoreapp3.1/apphost.exe
